# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*~

# Build output

# Go
bin/
*.exe
*.out

# Editors
.vscode/
.idea/
*.iml

# Neovim
*.swp

# Zed
.zed/

# Env
.env
.env.local

data.db
